

form {
    --form-fieldset-bg: var(--surface1);
    --form-input-bg: var(--surface3);

    --form-input-focus-bg: var(--surface1);
    --form-accent-color: var(--text2);
    margin:auto;
    max-width: 40em;
    font-size: 1.4rem;

}

fieldset{
    min-width: 200px;
    margin: 2em 0;
    padding: 1em 2em;
    border: 1px solid #ccc;
    border-radius: .4em;
    background-color: var(--form-fieldset-bg);
    color:var(--text2);
}

form.form__horizontal{
    width: max-content;
    font-size: 1rem;
    margin: 0;
}

.form__horizontal fieldset {
    border:0;
    background: transparent;
    padding: 0.6rem 1em;
    margin: 0;
    display: flex;
    gap: 2ch;
}


legend {
    /* font-size: 1.3em; */
}

label {
    min-width: 8rem;
    display:block;
    font-weight: bold;
    line-height: 1.1;

}

.form__horizontal label {
    display: inline;
    min-width: 4em;
    
}

label:first-of-type{
    margin-top: 0;
}

input {
    background-color: var(--form-input-bg);
    accent-color: var(--form-accent-color);
    /* border-radius: 0.4rem; */
}

textarea:focus, input:focus{
    background-color: var(--form-input-focus-bg);
    border: 1px solid var(--surface4);
    outline: none;
    /* border:1px solid #f00; */
}


.form__input input, .form__input select {
    padding: .6em;
    width: 100%;
}

.form__horizontal input {
    padding:0.3em;
}

.form__horizontal select {
    padding:0.3em;
}

input, select, textbox {
    border: 1px solid var(--surface1);
    background-color: var(--form-input-bg);
    accent-color: var(--form-accent-color);
}

select {
    padding: 3rem 0;
}

input[type="submit"]{
    background-color: var(--surface4);
}

.form__input{
    display: flex;
    align-items: center;
    margin-top: 2.6ch;

}

.form__control{
    /* display: grid;
    place-content: start; */
    margin-top: 2em;
    padding-left: 8rem;
}

.form__control label{
    
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    align-items: center;
    margin-top: 0.4em;
    margin-left: 1em;
}



textarea {
    width: 100%;
    background-color: var(--form-input-bg);
    border: 1px solid var(--surface1);
    font-size: 1.2rem;
}


