
:root{
    --body-background: #000;
    --accent: #0066ff;
    --accent-dark: #00b5ff;
    
    --text1: rgb(223, 223, 223);
    --text2: rgb(177, 177, 177);
    --text3: rgb(65, 65, 65);

    --surface-zero: #000;
    --surface1: #111;
    --surface2: #222;
    --surface3: #333;

}
